$brand-white: #ffffff;
$brand-orange: #ff9966; //default
$brand-peach: #ffcc99; //hover
$brand-dark: #373a36;
$brand-gray: #dfdfdf;
$brand-yellow: #ffcc66; //visited

$sidebar-gradient: linear-gradient(90deg, #ffcc9933 0%, #ff663433 100%);

$white: #ffffff;
$gray: #d9d9d9;
$text-gray: #dfdfdf;
$text-dark: #555555;
$text-deep: #373a36;
$text-green: #45b665;
$text-red: #db3838;

$btn-dark: #262626;
$btn-orange: #ff6634;
$btn-yellow: #ffc919;
$btn-gradient: linear-gradient(90deg, #ffcc9933 0%, #ff663433 100%);

$card-bg: #ffffffe6;

$br-4: 4px;
$br-6: 6px;
$br-8: 8px;
$br-15: 15px;
$br-20: 20px;

$lh-17: 17px;
$lh-19: 19px;
$lh-22: 22px;
$lh-24: 24px;
$lh-40: 40px;

$ls-002: 0.02em;
$ls-2: 2px;

$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-17: 17px;
$fs-18: 18px;
$fs-19: 19px;
$fs-36: 36px;

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;

$gap-2: 2px;
$gap-4: 4px;
$gap-5: 5px;
$gap-6: 6px;
$gap-8: 8px;
$gap-10: 10px;
$gap-12: 12px;
$gap-25: 25px;

$pd-1020: 10px 20px;
